body {
  margin: 0 !important;
}
.quiz {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
}
.text-center {
  margin: auto;
  text-align: center;
}
button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s;
  text-transform: none;
  margin: 1rem;
}
.secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.result {
  text-align: left;
  padding: 5px;
}

.warning {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
}

.success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.options {
  width: 40%;
  padding: 10px;
  margin: 10px;
  white-space: inherit;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.question {
  font-size: 1.5rem;
}

.not-allowed {
  cursor: not-allowed;
}

.pointer {
  cursor: pointer;
}